asgiref==3.8.1
Brotli==1.1.0
certifi==2025.6.15
cffi==1.17.1
charset-normalizer==3.4.2
click==8.2.1
colorama==0.4.6
cryptography==45.0.4
cssselect2==0.8.0
Django==4.2.23
et_xmlfile==2.0.0
fonttools==4.58.4
idna==3.10
openpyxl==3.1.5
pdf2image==1.17.0
pillow==10.4.0
poppler-utils==0.1.0
psycopg2-binary==2.9.10
pycparser==2.22
pydyf==0.11.0
pyphen==0.17.2
python-decouple==3.8
python-dotenv==1.1.0
reportlab==4.4.2
requests==2.32.4
sqlparse==0.5.3
tinycss2==1.4.0
tinyhtml5==2.0.0
typing_extensions==4.12.2
tzdata==2025.2
urllib3==2.5.0
weasyprint==65.1
webencodings==0.5.1
zopfli==0.2.3.post1
